
## Requisitos de Uso

### Software Requerido

- **Python**: Asegúrate de tener Python 3.6 o superior instalado en tu sistema.
- **Gestor de paquetes**: Necesitarás `pip` para instalar las dependencias.
- **VSC o tu codificador de preferencia.
### Dependencias

Este proyecto utiliza algunas bibliotecas externas. Puedes instalar las dependencias necesarias ejecutando el siguiente comando:

```bash
pip install -r requirements.txt
